<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tag
  -->
  <title>Hacked 8 Academy</title>
  <meta name="title" content="Hacked8Academy - The Best Program to Enroll for Exchange">
  <meta name="description" content="This is an education html template made by adaintech">



      <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="/images/Hacked9.png" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/courses.css">
  <link rel="stylesheet" href="/css/instructors.css">
  <link rel="stylesheet" href="/css/contact.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800&family=Poppins:wght@400;500&display=swap"
    rel="stylesheet">

  <!-- 
    - preload images
  -->
  

</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <a href="#" class="logo">
        <img src="/images/Hacked9.png" width="60" height="60" alt="Hacked8 logo">
      </a>

      <nav class="navbar" data-navbar>

        <div class="wrapper">
          <a href="#" class="logo">
            <img src="/images/Hacked9.png" width="60" height="60" alt="Hacked8 logo">
          </a>

          <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
          </button>
        </div>

        <ul class="navbar-list">

          <li class="navbar-item">
            <a href="/" class="navbar-link" data-nav-link>Home</a>
          </li>

          <li class="navbar-item">
            <a href="#about" class="navbar-link" data-nav-link>About</a>
          </li>

          
          <li class="navbar-item">
            <a href="#course" class="navbar-link" data-nav-link>Courses</a>
          </li>

         

          <li class="navbar-item">
            <a href="#contact" class="navbar-link" data-nav-link>Contact</a>
          </li>

          
          <li class="navbar-item">
            <a href="#blog" class="navbar-link" data-nav-link></a>
          </li>

        </ul>

      </nav>

      <% if(user){ %>
        <div class="header-actions">

          <button class="header-action-btn" aria-label="toggle search" title="Search">
            <!-- <ion-icon name="search-outline" aria-hidden="true"></ion-icon> -->
          </button>
  
          <!-- <button class="header-action-btn" aria-label="cart" title="Cart">
            <ion-icon name="cart-outline" aria-hidden="true"></ion-icon> -->
  
            <!-- <span class="btn-badge">0</span> -->
          </button>
  
          <a href="/dashboard" class="btn has-before" style="background-color:#FFC700;">
            welcome <%= user.firstname %>
         
          </a>
  
          <button class="header-action-btn" aria-label="open menu" data-nav-toggler>
            <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
          </button>
  
        </div>

        <% } else { %>

          <div class="header-actions">

            <button class="header-action-btn" aria-label="toggle search" title="Search">
              <!-- <ion-icon name="search-outline" aria-hidden="true"></ion-icon> -->
            </button>
    
           
            </button>
    
            <a href="/register" class="btn has-before" style="background-color:#FFC700;">Login/Register
               <span class="span"><a href="/login"></a></span> 
              <!-- <button class="yet">Login/Register</button> -->
                <!-- <a href="/views/reg.html" class="fre">Login/Register</a> -->
              <!-- <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon> -->
            </a>
    
            <button class="header-action-btn" aria-label="open menu" data-nav-toggler>
              <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
            </button>
    
          </div>
          
        <% } %>

      

      <div class="overlay" data-nav-toggler data-overlay></div>

    </div>
  </header>





  <main>
    <article>

  <section class="section hero has-bg-image" id="home" aria-label="home"
  style="background-image: url('/images/hero-bg.s')">
  <div class="container">

    <div class="hero-content">

      <h1  class="h1 section-title" style="cursor: pointer;">
        SURE AFFORDABLE GATEWAY <span class="span" style="cursor: pointer; color: #FFC700;">INTO<br></span>TECH EDUCATION
      </h1>
    
      <p  class="hero-text" style="cursor: pointer;">
        There Are More Course Taught Like AI & ROBOTICS, UI/UX, MOBILE DEVELOPMENT. ETC. "Empower your tomorrow with our innovation today –<br> where technology meets possibility, and your success becomes our code".
      </p>

      <a href="/register" class="btn has-before" style="background-color: #FFC700;">learn from today
        <span class="span"></span>

        <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
      </a>

    </div>

    <figure class="hero-banner">

      <div class="img-holder one" style="--width: 270; --height: 300;">
        <img src="/images/one man.JPG" width="270" height="300" alt="hero banner" class="img-cover">
      </div>

      <div class="img-holder two" style="--width: 240; --height: 370;">
        <img src="/images/one guy.JPG" width="240" height="370" alt="hero banner" class="img-cover">
      </div>

      

      <!-- <img src="/assets/images/hero-shape-2.png" width="622" height="551" alt="" class="shape hero-shape-2"> -->

    </figure>

  </div>
</section>




<section class="section about" id="about" aria-label="about">
  <div class="container">

    <figure class="about-banner">

      <div class="img-holder" style="--width: 520; --height: 370;">
        <img src="/images/Hacked9.png" width="520" height="370" loading="lazy" alt="about banner"
          class="img-cover">
      </div>

      <!-- <img src="./assets/images/about-shape-1.svg" width="360" height="420" loading="lazy" alt=""
        class="shape about-shape-1">

      <img src="./assets/images/about-shape-2.svg" width="371" height="220" loading="lazy" alt=""
        class="shape about-shape-2"> -->

      <!-- <img src="./assets/images/about-shape-3.png" width="722" height="528" loading="lazy" alt=""
        class="shape about-shape-3"> -->

    </figure>

     <div class="about-content">

      <p class="section-subtitle"></p>

      <h2 class="h2 section-title">
        <span class="pan">About</span><br><br>
      </h2>

      <p class="section-text">
          Hacked8 is a subset or institution created by <a href="https://www.adaintech.com/" style="color: hsl(42, 94%, 55%); font-size: 20px;">AdaIn Technologies LtD</a>within a field of AI/ROBOTICS, Cybersecurity, Product Development, Product Management working excellently to build capacity in human resource that will payoneer technological solution Through innovation,Creativity and Analytical Power to meet the ever growing tech industry in africa.
          we offer solution in meeting the knowledge gap created within a tech space by bridging the gap between organization seeking to engage the services of competent solution providers or developers and the general world.
      </p>

      <ul class="about-list">

        <li class="about-item">
          <ion-icon name="checkmark-done-outline" aria-hidden="true"></ion-icon>

          <span class="span">Expert Trainers</span>
        </li>

        <li class="about-item">
          <ion-icon name="checkmark-done-outline" aria-hidden="true"></ion-icon>

          <span class="span">Comfortable Environment</span>
        </li>

        <li class="about-item">
          <ion-icon name="checkmark-done-outline" aria-hidden="true"></ion-icon>

          <span class="span">Affordable pricing</span>
        </li>

      </ul>

      <!-- <img src="/assets/images/about-shape-4.svg" width="100" height="100" loading="lazy" alt=""
        class="shape about-shape-4"> -->

    </div>

  </div>
</section> 




<section class="course" id="course">
  <center>
    <h1 class="heading">Courses</h1>
  </center>

  <div class="box-container">
    <% results.forEach(function(item) { %>
      <div class="box">
        <img src="<%= item.img %>" alt="<%= item.name %>">
        <h3><%= item.name %></h3>
        <p>$<%= item.price %></p>

        <button>  <a href="/course/<%= item.id %>">View</a> </button>
      </div>
    <% }) %>
  </div>
</section>










<center>
    
  <!-- form -->
  <div class="contact-container" id="contact">
      <form action="http://localhost:3200/sendmail" method="post" class="contact-left">
  
          <div class="contact-left-title">
              <h2>Contact</h2>
              <hr>
          </div>
          <input type="text" name="firstname" placeholder=" First Name" class="contact-input" required>
          <input type="text" name="lastname" placeholder=" Last Name" class="contact-input" required>
          <input type="email" name="email" placeholder="Your Email Address" class="contact-input" required>
          <textarea name="message" placeholder="Message" class="contact-input" required></textarea>
          <button type="submit" class="btn">Submit <i class="arrow-forward-outline"></i></button>
  
  
      </form>
      <div class="contact-right">
  
       - <img src="/images/Hacked9.png" style=" width: 400px;"> 
      </div>
  </div>
  
  
  
</center>

  <footer class="footer" style="background-image: url('/images/footer-bg.png')">

    <div class="footer-top section">
      <div class="container grid-list">

        <div class="footer-brand">

          <a href="#" class="logo">
            <img src="/images/Hacked9.png" width="162" height="50" alt="Hacked8 logo">
          </a>

          <p class="footer-brand-text">
           

          <div class="wrapper">
            <span class="span"></span>

            <address class="address">First Floor,Sky Blue Building,Beside Beam Clinic,Aso B Mararaba,Nasarawa State</address>
          </div>

          <div class="wrapper">
            <span class="span">Call:</span>

            <a href="tel:+011234567890" class="footer-link">+234-90-82-60-32-01</a>
          </div>

          <div class="wrapper">
            <span class="span">Email:</span>

            <a href="info@adain.com" class="footer-link">info@adain.com</a>
          </div>

        </div>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Online Platform</p>
          </li>

          <li>
            <a href="/" class="footer-link">Home</a>
          </li>

          <li>
            <a href="/about#" class="footer-link">About</a>
          </li>

          <li>
            <a href="/course#" class="footer-link">Courses</a>
          </li>

          <li>
            <a href="/instructors#" class="footer-link">Instructors</a>
          </li>

          <li>
            <a href="#" class="footer-link"></a>
          </li>

          <li>
            <a href="#" class="footer-link"></a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Links</p>
          </li>

          <li>
            <a href="#" class="footer-link">Contact Us</a>
          </li>

          <li>
            <a href="#" class="footer-link">FAQ's</a>
          </li>

          <li>
            <a href="/views/reg.html" class="footer-link">Sign In/Registration</a>
          </li>

          <li>
            <a href="#" class="footer-link"></a>
          </li>

          <li>
            <a href="#" class="footer-link"></a>
          </li>

          <li>
            <a href="#" class="footer-link"></a>
          </li>

        </ul>

        </ul>

        <div class="footer-list">

          <p class="footer-list-title">Contacts</p>

          <p class="footer-list-text">
            Enter your email address to register to our newsletter subscription
          </p> 

          <form action="" class="newsletter-form">
            <input type="email" name="email_address" placeholder="Your email" required class="input-field">

            <button type="submit" class="btn has-before">
              <span class="span">Subscribe</span>

              <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
            </button>
          </form>

          <ul class="social-list">

            <li>
              <a href="https://web.facebook.com/profile.php?id=61553195826410" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-whatsapp"></ion-icon>
              </a>
            </li>

            <li>
              <a href="https://www.youtube.com/@Hacked8Academy" class="social-link">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </li>

            
            <li>
              <a href="https://www.instagram.com/hacked8_academy?igsh=MWY2ODU0MmoyYm0wdg%3D%3D&utm_source=qr" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>
            
          </ul>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          Copyright 2022 All Rights Reserved by <a href="https://www.adaintech.com/" class="copyright-link">AdaIn Technologies LtD</a>
        </p>

      </div>
    </div>

  </footer>





  <div id="preloader"></div>

  <a href="#top" class="back-top-btn" aria-label="back top top" data-back-top-btn>
    <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
  </a>

 

  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- 
    - custom js link
  -->
  <script src="/js/script.js" defer></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>